/000_Youtube_Why we sleep
/001_SQL
/002_Stepik_Python
/003_W3_Pandas
/004_Stepik_HTML
/005_Stepik_JS
/006_YouTube_Bootstrap
/HW_
/Раздел 1-2
/Раздел 3
/Раздел 5
/Раздел 6
/Раздел 7
/Раздел 8_BS
/Раздел 9_Git
/Раздел 10_Приложение